/* Add CSS Styling */

.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#one {
    color:blue;
    font-size: 36px;
}

#size {
    font-size:24px;
}

.four{
    background-color: lightgreen;
    font-weight: bold;
}